.header{
    height: 650px;
    background-color: #f0dec5;
    display: flex;
}

.head-1{
    width: 50%;
    text-align: left;
    padding: 100px;
    margin: 50px;

}

.head-1 h1{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}

  button{
    background-color: rgb(229, 84, 115);
    color: white;
    padding: 14px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
}

  button:hover{
    background-color: brown;
    font-weight: bold;
    transition:   4s ease-out;
    padding: 20px;
}

.head-2 img{
    margin-top: 150px;
    margin-right: 200px;
    width: 435px;
    height: 500px;
}

.head-2 img:hover{
    width: 335px;
    
    display: block;
}

.main{
    width: 1440px;
    margin: 0 auto;
}



.feature{
    text-align: center;
    margin-top: 80px;
}

.photo{
    
    display: flex;
     
    gap: 8px;
    text-align: center;
    margin-left: 200px;
}

.photo div{
    border: 2px solid royalblue;
     display: inline;
     border-top-left-radius: 190px;
     border-top-right-radius: 190px;
     width: 350px;
     height: 400px;
     
}

.ph-1{
    background-color: rgba(167, 33, 98, 0.15);
     
    text-align: center;
    margin-top: 10px;
}

.ph-1 img{
    margin-top: 100px;
    height: 300px;
}
.ph-2{
    background-color: rgba(5, 151, 160, 0.15);
     
    text-align: center;
    margin-top: 10px;
}

.ph-2 img{
    margin-top: 100px;
    height: 300px;
}
.ph-3{
    background-color: rgba(71, 125, 17, 0.15);
     
    text-align: center;
    margin-top: 10px;
}

.ph-3 img{
    margin-top: 100px;
    height: 300px;
}

.support{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top: 50px;
    width: 1080px;
    margin-left: 200px;
    margin-bottom: 30px;
}

.support div{
    text-align: center;
    padding: 1rem;
}
.support img {
    max-width: 100%;
  }

  .sign{
    display: grid;
     
     grid-template-columns: repeat(2, 1fr);
    background-color: rgba(229, 84, 115, 0.05);
    height: 420px;
     
  }

  .sign-content{
    margin-top: 100px;
    text-align: center;
  }

  .sign-img{
    padding: 80px;
    
  }

  .sign-img img{
    height: 300px;
     
    
  }
  .instagram{
    margin-bottom: 70px;
  }
   

  .instagram-content{
    max-width: 594px;
    height: 132px;
    margin: 0 auto;
    text-align: center;
  }

  .instagram-content h2{
    font-weight: 800;
    font-size: 2.5rem;
  }

  .instagram-content p{
    color: rgba(39, 39, 39, 0.6);
  }

  .instagram-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .banner{
    background-image: url('./Flower Asset/Rectangle\ 9.png');
     height: 350px;
    
     width: 1000px;
     margin: 0 auto;
  }

  .banner > div{
    max-width: 865px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
     padding: 100px;
  }

  .banner > div input{
    padding: 10px;
    width: 600px;
  }

  .banner > div button{
    padding: 14px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
  }

  footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 150px;
    margin-top: 60px;
    padding: 60px;
  }

    span{
    color: #E55473;
  }

  footer h2{
    font-weight: 800;
    font-size: 30px;
  }

  



/* .photo img{
    border: 2px solid royalblue;
     display: inline;
     border-top-left-radius: 190px;
     border-top-right-radius: 190px;
     padding-top: 8px;
     height: 100%;
      
} */

@media screen and (max-width: 576px) {
    .header{
        width: 100%;
        flex-direction: column-reverse ;
        height: auto;
        margin: 0 auto;
    }

    .head-2 img{
        margin: 0 auto;
        width: 235px;
        height: 300px;
        margin-left: 100px;
        margin-top: 20px;
        
    }
    .photo{
    
        width: 100%;
        flex-direction: column  ;
        height: auto;
        margin: 0 auto;
        margin-left: 50px;
         
    }
    .feature{
        text-align: left;
        margin: 0 auto;
        width: 100%;
         
    }

    .support{
        width: 25%;
        flex-direction: column  ;
        height: auto;
        margin: 0 auto;
        margin-left: 50px;
        margin-top: 30px;
    }
    .fet{
        width: 25%;
        text-align: center;
        margin-left: 50px;
    }

 

    .sign-img img{
        text-align: center;
        margin-left: 50px;
        width: 100%;
    }
    
    
    .instagram-img{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 40px;
        gap: 10px;
    }


    
     
}