.header{
    height: 650px;
    background-color: #f0dec5;
    display: flex;
}

.head-1{
    width: 50%;
    text-align: left;
    padding: 100px;
    margin: 50px;

}

.head-1 h1{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}

.head-1 button{
    background-color: red;
    color: white;
    padding: 14px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
}

.head-2 img{
    margin-top: 150px;
    margin-right: 200px;
    width: 435px;
    height: 500px;
}

@media screen and (max-width: 576px) {
    .header{
        width: 100%;
        flex-direction: column-reverse ;
        height: auto;
        margin: 0 auto;
    }

    .head-2 img{
        margin: 0 auto;
        width: 235px;
        height: 300px;
        margin-left: 100px;
        
    }
}